
<div class="page-hero">
	<img width="100%" height="90%" src="/images/stella_jumbo.JPG" class="attachment-hero wp-post-image" alt="contact2" title="">
</div>

<div class="container">
    <div class="row">
      <div class="span12">
		<h1>Contact:</h1>
		<address>
			<strong>jOeL</strong><br>
			<a href="mailto:joelgionprimarycolours@gmail.com">joelgionprimarycolours@gmail.com</a>
		</address>

		<address>
			<strong>JG & The Primary Colours</strong><br>
			<a href="https://www.facebook.com/messages/1390547224522132">Facebook</a>
		</address>
      </div>
    </div><!--/row-->

  <footer>
    <p>&copy; Company 2014</p>
  </footer>

</div> <!-- /container -->

