<div class="header-image">
	<div class="pixel-overlay"></div>
	<!--div class="headline">
		<h1>Joel Gion</h1>
	</div-->
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
	  		  <div class="home-image-center"><%= link_to image_tag("joelgion.jpg", :border => 0), joel_path %></div><br>
			  <div class="home-image-center"><%= link_to image_tag("colours.jpg", :border => 0), tpc_path %></div>
		</div>
	</div><!--/row-->

